
.hangman-box{
    border: red solid;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.letter-box{
    border: brown solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2px;
    width: 30%;
    
}

.letters{
    border: solid green;
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 1px;
}

.game-box{
    border: purple solid;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 75%;
    align-self: center;
}

#answer{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.container{
    border: blue solid;
}

.navigate{
    border: green solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
}

#wrong-letters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}